/* community class */
.community {
   display: flex;
   flex-wrap: wrap;
   position: relative;
   height: 1000px;
   margin-top: 80px;
}

.community p {
   font-family: 'GillSans';
   width: 15vw;
   margin-left: 40px;
}

.image-space {
   margin-left: 30px;
}

/* meet class */
.meet {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   text-align: start;
   width: 16vw;
   position: absolute;
   z-index: 1;
   font-family: 'DinCondensed';
   top: 45px;
   left: 419px;
   padding-left: 20px;
}

.meet-h1 {
   font-family: 'DinCondensed';
   font-size: 50px;
   position: absolute;
   top: 0px;
   left: 440px;
}

.meet h2 {
   font-size: 50px;
}

.meet-h6 {
   text-align: start;
   margin-top: 20px;
   width: 12vw;
   max-height: 250px;
   font-size: 20px;
}

.meet::before {
   content:'';
   height: 6px;
   width: 200px;
   position: absolute;
   top: 29px;
   left: 12px;
   z-index: -1;
   background-color:var(--base-color);
}

.button {
   font-family: 'DinCondensed';
   background-color:var(--base-color);
   padding: 3px;
}

.feed {
   display: flex;
   flex-direction: column;
   gap: 15px;
   align-items: flex-start;
   font-family: 'DinCondensed';
   height: 230px;
   width: 250px;
   background-color: white;
   padding: 20px;
   position: relative;
}

.icons-svg {
   display: flex;
   justify-content: space-between;
   width: 86px;
   align-items: center;
   position: absolute;
   bottom: 1px;
   right: 40px;
}

/* Tacos block */
.tacos {
   display: flex;
   align-items: center;
   position: absolute;
   top: 280px;
   right: 50px;
   z-index: 1;
   height: 300px;
   width: 600px;
}

.detail-01 {
   position: absolute;
   z-index: -1;
   bottom: 5px;
   right: 55px;
}

.detail-02 {
   position: absolute;
   z-index: -1;
   bottom: 5px;
   left: 205px;
}


/* wafles block */
.wafles {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   position: absolute;
   top: 930px;
   right: 435px;
   z-index: 1;
   height: 300px;
   width: 800px;
}

.detail-03 {
   position: absolute;
   z-index: -1;
   bottom: 1px;
   left: 72px;
}

/* calamari block */
.calamari {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   position: absolute;
   bottom: 100px;
   right: 80px;
   width: 100%;
   height: 300px;
}

.calamari p {
   margin-right: 300px;
}



