
/* our menu */
.our-menu {
   margin-top: 20px;
   height: 65vw;
   margin-top: 80px;
}

.our-menu h1 {
   font-family: 'DinCondensed';
   font-size: 60px;
}

.border-01 {
   height: 800px;
   border-left: 2px solid grey;
   position: absolute;
   left: 430px;
   opacity: 60%;
}

.border-02 {
   height: 800px;
   border-left: 2px solid grey;
   position: absolute;
   left: 675px;
   opacity: 60%;
}

.border-03 {
   height: 800px;
   border-left: 2px solid grey;
   position: absolute;
   left: 920px;
   opacity: 60%;
}

.menu-title {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.article-menu {
   display: flex;
   align-items: center;
   flex-direction: column;
   position: relative;
}

.menu-title::before {
   content:'';
   height: 6px;
   width: 200px;
   position: absolute;
   z-index: -1;
   background-color: var(--base-color);
}

/* ------ Dishes ------ */
.dishes {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   height: 680px;
   margin-left: 147px;
   margin-right: 180px;
}

.each-dish {
   display: flex;
   flex-direction: column;
   height: 11.5vw;
   gap: 10px;
}

/* starters block */
.starters {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   text-align: start;
   height: 680px;
   gap: 30px;
}

.starters h1 {
   font-family: 'DinCondensed';
   font-size: 60px;
}

.starters h4 {
   font-family: 'DinCondensed';
}

.starters p {
   font-family: 'GillSans';
   width: 15vw;
}

/* main courses block */
.main-courses {
   display: flex;
   align-items: flex-start;
   justify-content: flex-end;
   flex-direction: column;
   height: 610px;
   gap: 30px;
}

.main-courses h1 {
   font-family: 'DinCondensed';
   font-size: 60px;
}

.main-courses h4 {
   font-family: 'DinCondensed';
}

.main-courses p {
   font-family: 'GillSans';
   width: 15vw;
}

/* sides block */
.sides {
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-direction: column;
   height: 490px;
   gap: 30px;
}

.sides h1 {
   font-family: 'DinCondensed';
   font-size: 60px;
}

.sides h4 {
   font-family: 'DinCondensed';
}

.sides p {
   font-family: 'GillSans';
   width: 15vw;
}

/* desserts block */
.desserts {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   text-align: start;
   height: 630px;
   gap: 30px;
}

.desserts h1 {
   font-family: 'DinCondensed';
   font-size: 60px;
}

.desserts h4 {
   font-family: 'DinCondensed';
}

.desserts p {
   font-family: 'GillSans';
   width: 15vw;
}

/* price */
.price {
   border: 2px solid var(--base-color);
   text-align: center;
   width: 50px;
   padding: 3px;
}

.price h5 {
   font-family: 'DinCondensed';
}


