

.title-logo {
   font-size: 28px;
}

.navbar {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   padding: 20px;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 1;
}

.nav-start ul {
   display: flex;
   margin-right: 400px;
   gap: 20px;
}

.nav-end {
   display: flex;
   margin-left: 180px;
}

@media (min-width: 1367px) {
   
   .nav-start ul {
      display: flex;
      margin-right: 900px;
      gap: 40px;
   }
   
   .nav-end {
      display: flex;
      margin-left: 180px;
   }
}
