

.colaborate {
   position: relative;
   height: 462px;
   width: 100%;
   background-color: var(--base-color);
}

.colaborate-info {
   position: absolute;
   width: 322px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   top: 50px;
   left: 136px;
}

.colaborate-info p {
   font-family: 'GillSans';
}

.with-us {
   text-align: center;
   font-family: 'DinCondensed';
   z-index: 1;
}

.with-us h3 {
   font-size: 30px;
   text-align: start;
}

.with-us h1 {
   font-size: 62px;
   text-align: start;
}

.before-with::before {
   content:'';
   height: 9px;
   width: 200px;
   position: absolute;
   top: 120px;
   left: 120px;
   z-index: 1;
   background-color: white;
}

.detail-04 {
   position: absolute;
   right: 420px;
   top: 5px;
}
