
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

li {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: 'DinCondensed', 'GillSans';
}

button {
  border: none;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --base-color: hsl(19, 100%, 89%);
}

@font-face {
  font-family:'DinCondensed' ;
  src: url(/fonts/DIN\ Condensed\ Bold.ttf) format('truetype')
}

@font-face {
  font-family:'GillSans' ;
  src: url(/fonts/GillSans.ttc) format('truetype')
}


